html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;

}
.main-section{
    margin-top: 5.6rem;
}
.wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    box-sizing: border-box;
}

.line-break{
    width: 100%;
    height: 0;
    border: 0.05rem solid lightgray;
    margin: 1.2rem;

}

.section-title{
 color: #0a0a0a;
 font-size: 1.7rem;
 height: 1.7rem;
 max-width: 100%;
 font-weight: 500;
 margin-bottom: 2rem;
}

/* start top nav */
.top-nav{
    position: fixed;
    height: 5.6rem;
    width: 100%;
    padding: 0 1.6rem;
    padding-right: 3.2rem;
    background-color: #fff;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.4rem;
    color: #787878;
    box-sizing: border-box;
    border-bottom: 0.5rem solid #F3f3f3;
}

/* left side top nav */
.top-nav-left-side{
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.top-nav-menu {
    padding: 0 1rem;
    margin-right: 1.6rem;
    cursor: pointer;

}

.top-nav-menu i {
    cursor: pointer;
}

.top-nav-logo {
    width: 8rem;

}

/* end left side top nav */

/* start top nav search  */
.top-nav-search-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-nav-search-container input {
    height: 2.6rem;
    width: 70%;
    padding: 0.2rem 0.6rem;
    color: #111111;
    font-size: 1.6rem;
    border-top: 0.1rem solid #D2D2D2 ;
    border-bottom: 0.1rem solid #D2D2D2 ;
    border-left: 0.1rem solid #D2D2D2 ;
    border-right: none;
    /* box-shadow: rgb(238, 238, 238) 0px 1px 1px 0px inset; */
    border-radius: 2px 0px 0px 2px;
}
.top-nav-search-container input::placeholder {
    color: #878787;
}
.top-nav-search-container button {
    height: 3.2rem;
    padding: 0.1rem 0.6rem;
    width: 6.5rem;
    border: 0.1rem solid #D2D2D2;
    background-color: #f8f8f8;
}
.top-nav-search-container button:hover {
    background-color: lightgray;
}
/* end top nav search */

/* start right side top nav */
.top-nav-right-side{
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.top-nav-right-icon{
    padding: 0 1rem;
    cursor: pointer;
}


.top-nav-avatar{
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 100%;
    margin-right: 0;
    padding: 0 1rem;
}
/* end right side top nav */

/* end top nav */

/* start side bar */
.sidebar {
    position: fixed;
    width: 22.4rem;
    height: 100%;
    background:#F5F5F5;
    z-index: 1;
    overflow: auto;
    display: none;
}

.sidebar-item {
    font-size: 1.6rem;
    color: #909090;
    height: 4rem;
    width: 100%;
    padding: 0 2.4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.sidebar-item:hover {
    background-color: #D2D2D2;
}

.sidebar-item:first-child{
    margin-top: 1rem;
}

.sidebar-item.active{
    background-color: #D2D2D2;
    color: #0a0a0a;
    font-weight: 500;
}

.sidebar-item.active i{
    color: #FF0000;
}

.sidebar-item-icon {
 height: 100%;
 width: 2.5rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 font-size: 2rem;
 margin-right: 2.4rem;
}

.sidebar-item-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

.sidebar-heading {
    color: #606060;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 2.4rem ;
}

.sidebar-item-title {
    max-width: 10.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* end side nav */

/* start video card */
.video-wrapper {
    max-width: 132.1rem;
    height: 40.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.video-preview-card{
    width: 21rem;
    height: 20.3rem;

}

.video-preview-card-video{
    height: 11.8rem;
    width: 100%;
}

.video-preview-card-content {
    height: 8.5rem;
    width: 100%;
}

.video-preview-card-title {
    font-size: 1.5rem;
    color: #0a0a0a;
    font-weight: 500;
    margin: 0.5rem 0;
}

.video-preview-card-channel {
    color: #606060;
    font-size: 1.3rem;
}

.video-preview-card-info {
    color: #606060;
    font-size: 1.3rem;
}
/* end video card */


/* start upload form */
.upload-section {
    width: 50%;
    height: 20rem;
    margin-top: 10rem;
    background-color: red;
    position: fixed;
    right: 0;
    left: 0;
    margin: 10rem auto;
    display: none;
}

.upload-form {

}
/* end upload form */


/* start show video page */

video{
    width: 100%;
    max-height: 80vh;
    background-color: black;
}

/* .video-page-wrapper {
    display: flex;
    flex: column;
    width: 100%;
    max-height: 100%;
}

.video-page-main-col {
    width: 80%;
    height: 100%;
}

.video-page-side-col {
    width: 20%;
    height: 100%;
} */
/*  */
